parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor-prefixed/*
        - wp-content/plugins/bh-wp-aws-ses-bounce-handler
    bootstrapFiles:
        - phpstanbootstrap.php
        - autoload.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    scanDirectories:
        - vendor-prefixed
        - wp-content/plugins
        - vendor/wp-cli
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    ignoreErrors:
        - '#LoggerInterface\|null#'
